.container{
  display: flex;
  flex-wrap: wrap;  
}

:root {
  --cafe: #5B2924;
  --amarillo: #EEC170;
  --claro: #F2EADC;
  --naranja: #FF9F1C;
  --pastel: #F2D2B3;
}



.carrito{
  width: 50px;
  padding-left: 20px ;
padding-right: 30px;
}

.menu{
  margin-top: 20px;
  border: 2px solid black;
  text-align: center; 
}
h1{
  color: var(--cafe);
}
span{
  color: var(--naranja);
}
a{
  padding-left: 10px;
  color: var(--naranja);
}
.menu a {
  text-decoration: none;
  color: var(--cafe);
}
.img_container{
  cursor: pointer;
  transition: all .3s ease;
  border: 6px solid white;
}



.linea_encabezado{
padding-top: 20px;
  border-bottom: 2px solid black;
width: 100%;
background-clip: border-box;
background: var(--pastel)
}

.menu{
  margin-top: 20px;
  border: 2px solid black;
  text-align: center;
}

.boton_img{
  padding-bottom: 10px;
}

.boton_Guardar{
  padding-top: 25px;

  padding-bottom: 200px;
}


/*Codigo actualizado para nuevo formato*/

div{
  box-sizing: border-box;
}

.img_logo{
width: 200px;
padding-left: 20px;
padding-top: 20px;

}

.busqueda{
flex-basis: 20%;
}

/* codigo para flechas de links del encabezado */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.logo{
    flex-basis: 40%;
}
.links{
    flex-basis: 40%;
}
.titulo{
    padding-top: 60px;
}

.carrito{
  width: 50px;
  padding-left: 20px ;
padding-right: 30px;
}


.menu a {
  text-decoration: none;
}

.linea_encabezado{
padding-top: 20px;
border-bottom: 2px solid black;
width: 100%;
}

 .info_libro{
  flex-basis: 40%;
  padding-top: 50px;
}

.portada{
padding-left: 200px;
padding-top: 100px;
flex-basis: 60%;
}

.info_libro a{
  text-decoration: none;
  color: black;
}

.calificacion{
  flex-basis: 50%;
}

.premios{
  flex-basis: 50%;
}

.premios h5{
  margin: 0px;
  padding-bottom: 5px;
}



h1{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

.tabla{
  text-align: center;
  background-image: url("img/fon2.jpg");
  background-clip: border-box;
  
  

}

.formularioIncertar{
  padding-top: 50px;
  padding-bottom: 50px;

}

.subEncabezado{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--cafe);
  color: white;
  margin-bottom: 10px;
}

.subEncabezado h1{
color: white;
}

.searchBar{
  padding: 50px;
  text-align: center;
}

table tr:nth-child(odd) {background-color: #5B2924;}

table {
  border-collapse: separate;
  border-spacing: 2px;
  background: #000 url("gradient.gif") bottom left repeat-x;
  color: #F2EADC;
}

body {
  background-color: #F2D2B3;
}
table{
  font-size: 14px;
}

.containerTarjetas{
  display: flex;
}

.container{
  display: flex;
  flex-wrap: wrap; 
  background-color: var(--pastel);   
}

.container2{
  color: white;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--cafe);  
  flex-basis: 20%;
  padding-left: 10px;
}

.container2 h2{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.container3 {
  flex-basis: 80%;
}

td {
  font-size:  24px;
  text-align: center;
}

.primeraLineaTabla{
  color: #FF9F1C;
}