:root {
  --cafe: #5B2924;
  --amarillo: #EEC170;
  --claro: #F2EADC;
  --naranja: #FF9F1C;
  --pastel: #F2D2B3;
}

td {
  border-style : hidden!important;
  font-size: large;
 }

/*Comentario*/
.body{
  background-color: #F2D2B3;
}
.boton{
  margin-left: 10px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--pastel);  
}
.container2{
  flex-basis: 20%;
  flex-wrap: wrap;
  background-color: var(--cafe);  
  padding-left: 10px;
}

.container2 h2{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
div{
  box-sizing: border-box;
}
.img_logo{
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.busqueda{
  flex-basis: 20%;
}
/* codigo para flechas de links del encabezado */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.logo{
  flex-basis: 40%;
}
.links{
  flex-basis: 40%;
}
.titulo{
  padding-top: 60px;
}
.carrito{
  width: 50px;
  padding-left: 20px ;
  padding-right: 20px;
}
.menu{
  margin-top: 30px;
  border: 2px solid black;
  text-align: center; 
}
.menu a {
  text-decoration: none;
  color: var(--cafe);
}
.linea_encabezado{
  text-decoration: underline;
  border-bottom: 2px solid black;
  width: 100%;
}
a{
  color: var(--naranja);
  text-decoration: none;
}
.color1{
  color: var(--cafe);
  margin-left: 10px;
}
h1{
  color: var(--cafe);
}
span{
  color: var(--naranja);
}
  /*End Header*/
.titulo_abajo{
  text-align:center; 
  padding:8px;
}

.container3{
  flex-basis: 80%;
  text-align: center;

}
.container4{
  width: 50%;
  padding-top: 5%;
}
.grid-layout2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid-layout{
  background-color: #5B2924;
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-around;
  justify-content: flex-start;
  margin: 10 auto;
  padding: 20px;
  margin-left: 1px;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  border: 3px solid black;
  background-image: url(http://media1.pravnikns.rs/2017/12/001-subtle-light-pattern-background-texture-vol5.jpg);
  padding: 40px;
  margin: 4px;
  width: 300px;
  height: 150px;
  text-align: left;
}
.parrafo{
  display: table-cell;
  margin: 0;
  padding: 0 1rem;
}
.linea_perfil{
  padding: 2px;
  margin: 40PX;
  width: 85%;
}
.box2 {
  border: 3px solid black;
  background-image: url(http://media1.pravnikns.rs/2017/12/001-subtle-light-pattern-background-texture-vol5.jpg);
  padding: 40px;
  margin: 4px;
  width: 300px;
  height: 110px;
  text-align: left;
}
.parrafo2{
  display: table-cell;
  margin: 0;
  padding: 0 1rem;
}
.box_contacto {
  border: 3px solid black;
  background-image: url(http://media1.pravnikns.rs/2017/12/001-subtle-light-pattern-background-texture-vol5.jpg);
  margin: 4px;
  width: 415px;
  height: 265px;
  text-align: left;
}
.box_direcciones {
  border: 3px solid black;
  background-image: url(http://media1.pravnikns.rs/2017/12/001-subtle-light-pattern-background-texture-vol5.jpg);
  margin: 4px;
  width: 450px;
  height: 400px;
  text-align: left;
}
input {
  padding-right: 150px;
}
.prueba{
  padding-top: 5px;
  padding-right: 500px;
}
input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear(red);
}

input:valid {
  border: 2px solid black;
}

.mainContainer {
  display: flex;
}

.subEncabezado{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--cafe);
  color: white;  
  margin-bottom: 10px;
}

.h1Main {
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.titulo_perfil{
  padding-left: 5px;
  padding-top: 5px;
  display: flex;
}
.titulo_perfil1{
  padding-left: 5px;
  padding-top: 5px;
}
.titulo_perfil2{
  padding-left: 280px;
  padding-top: 1px;
  display: flex;
}

.infoCliente {
  margin-left: auto;
  margin-right: auto;
  
}

td{
  font-size: 24px;
}