:root {
  --cafe: #5B2924;
  --amarillo: #EEC170;
  --claro: #F2EADC;
  --naranja: #FF9F1C;
  --pastel: #F2D2B3;
}
.boton{
  margin-left: 10px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--pastel);  
}
.container2{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--cafe);  
}
div{
  box-sizing: border-box;
}
.img_logo{
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.busqueda{
  flex-basis: 20%;
}
/* codigo para flechas de links del encabezado */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.logo{
  flex-basis: 40%;
}
.links{
  flex-basis: 40%;
}
.titulo{
  padding-top: 60px;
}
.carrito{
  width: 50px;
  padding-left: 20px ;
  padding-right: 20px;
}
.menu{
  margin-top: 30px;
  border: 2px solid black;
  text-align: center; 
}
.menu a {
  text-decoration: none;
  color: var(--cafe);
}
.linea_encabezado{
  text-decoration: underline;
  border-bottom: 2px solid black;
  width: 100%;
}
a{
  background-color: var(--pastel);
  color: var(--naranja);
  text-decoration: none;
}
.color1{
  color: var(--cafe);
  margin-left: 10px;
}
h1{
  color: var(--cafe);
}
span{
  color: var(--naranja);
}

/*End Header*/

.container1{
  flex-basis: 33%;
}
.imagenes{
  text-align: center;
  margin-top: 50px;
}
.img:hover{
 color: var(--cafe);
}
.publicidad{
  width: 100%;
  height: 30rem;
  margin-top: 1px;
}
.carrito{
  margin-left: 10px;
}
.car{
  width: 20px;
  height: 20px;
}
.img_container img{
  cursor: pointer;
  transition: all .3s ease;
  border: 6px solid black;
}
.img_container img:hover{
  filter: grayscale(100);
}
.texto{
  color: black;
  text-align: center;
  padding-left: 30px;
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.container1 a{
  color: black;
}


/*Codigo Nuevo*/

.contenedor{
  display: flex;
  flex-wrap: wrap;
  background-color: #5B2924;
}
.capa{
  flex-basis: 25%;
border-bottom: black solid 2px;  
}


div{
  box-sizing: border-box;
  
}
.imagen{
  padding-top: 20px;
  text-align: center;
}

img{
  object-fit:cover;
  width: 50%;
  height: 65%;
  border: black solid 3px;
}

.titulo{
  text-align: center;
  padding-top: 20px;
}
.links{
  text-align: center;
}