:root {
    --cafe: #5B2924;
    --amarillo: #EEC170;
    --claro: #F2EADC;
    --naranja: #FF9F1C;
    --pastel: #F2D2B3;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--pastel);  
  }
  div{
    box-sizing: border-box;
  }
  .img_logo{
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
    color: var(--cafe);
  }
  .busqueda{
    flex-basis: 20%;
  }
  /* codigo para flechas de links del encabezado */
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .logo{
    flex-basis: 40%;
  }
  .links{
    flex-basis: 40%;
  }
  .titulo{
    padding-top: 60px;
  }
  .carrito{
    width: 50px;
    padding-left: 20px ;
    padding-right: 30px;
  }
  .menu{
    margin-top: 20px;
    border: 2px solid black;
    text-align: center; 
  }
  .menu a {
    text-decoration: none;
    color: var(--cafe);
  }
  .linea_encabezado{
    text-decoration: underline;
    border-bottom: 2px solid black;
    width: 100%;
  }
  a{
    padding-left: 10px;
    color: var(--naranja);
  }
  span{
    color: var(--naranja);
  }
  /*End Header*/
  .container2{
      display: flex;
      flex-wrap: wrap;
  }
  .puntoRecogida{
      flex-basis: 50%;
      padding-left: 50px;
      padding-top: 80px;
  }
  .puntoEnvio{ 
      flex-basis: 50%;
      padding-left: 50px;
      padding-top: 80px;
  }
  .mapa{
      padding-top: 20px;
  }
  .confirmar{
      text-align: center;
      border-radius: 50%;
      background-color: var(--amarillo);
      color: white;
      margin-top: 20px;
      padding: 15px 32px;
      font-size: 16px;
      display: inline-block;
  }
  .boton{
    margin-top: 26rem;
    left: 30px;
   margin-right: 10rem;
 
}